h1 {
    text-align: center;
    font-size: 3.5em;
    color: silver;
    margin-bottom: 1em;
    
}
h3 {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-bottom: 1em;

}
a {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-bottom: 1em;
}

p {
    text-align: left;
    font-size: 1.5em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: whitesmoke;
    display: inline-block;
    margin-left: 37%;
}
li {
    font-family: 'Courier New', Courier, monospace;
    padding-left: .1em;
    margin-bottom:1em;

}
img {
    float:right;
    size: width: 200px;height: 100px;

}
iframe {
    width: 420;
    height: 315;
    float;
}
div {
    align:center
}